<div id="header">
    <table>
        <tr>
            <td style="text-align:center;">
                <a href="http://www.cgi-iugs.org/"><img src="assets/images/logo-iugs.png" height="75px"/></a>
                <a href="http://www.cgi-iugs.org/"><img src="assets/images/title.jpg" height="75px"/></a>
                <a href="http://www.geosciml.org"><img src="assets/images/logo-geosciml.png" height="75px"/></a>
            </td>
        </tr>
        <tr>
            <td>
                <div id="ga-nav">
                        <a href="http://www.cgi-iugs.org">CGI Home</a> |
			<a href="index.html">GeoSciML Home</a> |
			<a href="http://external.opengeospatial.org/twiki_public/GeoSciMLswg/WebHome">GeoSciML Wiki</a> |
			<a href="http://www.earthresourceml.org">EarthResourceML</a> |
                        <a href="vocabularies.html">Vocabularies</a>
                </div>
            </td>
        </tr>
    </table>
    <div id="ga-colour-strip-container">
        <div id="ga-colour-strip"></div>
    </div>
</div>